.contact-section {
  padding: 100px 0;
  background-color: #222;
  color: #fff;
}

.contact-section .section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.contact-section .section-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.linkedin-icon {
  display: inline-block;
  transition: transform 0.3s;
}

.linkedin-icon:hover {
  transform: scale(1.2);
}

.linkedin-icon:hover .icon-tabler-brand-linkedin {
  stroke: #0077B5;
}

.linkedin-icon:hover .icon-tabler-brand-telegram {
  stroke: #006dcc;
}

.linkedin-icon:hover .icon-tabler-mail {
  stroke: #ffffffe0;
}