section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
      padding: 150px 0;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.profile-container {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.profile-container {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #ccc; /* Puedes cambiar el color de fondo a uno que prefieras */
  margin: 0 auto;
}

.info-box {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  min-height: 320px; /* Establecer una altura mínima para todas las cajas */
}

.info-box:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.about-heading {
  text-align: center; /* Centrar el título de cada caja */
}

.info-box p.text-muted {
  text-align: left; /* Alinear el texto a la izquierda */
}
